.Rproj.user
.Rhistory
.RData
.Ruserdata
Annual_census_protocol_Int_Bio_WL2_2023.docx.pdf
Int Bio Common Garden Data Verification Protocol.pdf
Master_locations_all_species_pops.xlsx
STTO germination and reproductive phenology lookup table.xlsx
UCD Common Garden survey protocols.pdf
UCD Garden Notes.pdf
Davis_Climate_Flags2.pdf
FlintClimateVariables.png
QC_IntBio_UCDavis_Shapefile.cpg
QC_IntBio_UCDavis_Shapefile.dbf
QC_IntBio_UCDavis_Shapefile.prj
QC_IntBio_UCDavis_Shapefile.qmd
QC_IntBio_UCDavis_Shapefile.shx
WL2 Garden Notes.pdf
Wilting Status Protocol.pdf
Davis_Climate_Readme.pdf
Flint_BCM_Documentation.pdf
IntBio_basins_BCM.out
parent_pops_common-gardens.Rproj
spaMMintro.pdf
