California.png
UCD_LargeDeltas_PopMFRep.csv
WL2_LargeDeltas_PopMFRep.csv
.DS_Store
JM_GLMER_Climate.Rdata
CumlFit_ClimDistDiag.png
LifeStage_ClimDistDiag.png
LifeStage_ClimDistDiag2.png
CumlFit_ClimDistDiag_20250806.png
LifeStage_ClimDistDiag_20250806.png
